@model IEnumerable<ThuPointOfSaleFinal.Entities.Models.Product>

@{
    ViewData["Title"] = "Products";
}

<div class="row">
    <div class="col-md-6"><h1>Products</h1></div>
    
    <div class="col-md-6">
        <div class=" float-end btn btn-success">
        <a asp-action="Create" style="text-decoration:none; color:white"><h3>New</h3></a>
        </div>
    </div>
</div>
<hr />
<form asp-action="index" method="get">
    <label class="control-label">Search</label>
    <div class="row">
        <div class=" col-md-6">
            <input class="form-control" type="text" name="search" placeholder="Search in products" value="@ViewBag.Search" />
        </div>
        <div class=" col-md-6">
        <button type="submit" class="btn btn-info">Search</button>
        </div>
    </div>
</form>
<hr />
<label class="control-label">Search With ajax</label>
<input class="form-control" type="text" id="livesearchtags" placeholder="Search in products With ajax" value="@ViewBag.Search" autocomplete="off" />
<hr />

<div class="row" id="productcards">

    <partial name="_ProductsCards" model="Model"/>

</div>
@section Scripts {
<script>

        $('#livesearchtags').on('keyup', function(){
            liveSearch();
        })
    function liveSearch(){
        debugger
        let vlaue = $('#livesearchtags').val();
        $.ajax(
            {
                type:"Get",
                url: '@Url.Action("SearchByAjax", "Products")',
                    data: { search: vlaue },
                datatype:"html",
                success: function (data) {
                    $('#productcards').html(data);
                }
            }
        )
    }
</script>
}
@* <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DefaultPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.categoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.category.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductImage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DefaultPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categoryId)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.category.CategoryName)
                </td>
            <td>
                    @if (item.ProductImage == null || item.ProductImage == "")
                    {
                        <img src="\Images\ProductImages\Noimage.jpg" alt="No Image" width="100px" height="100px" />
                    }
                    else
                    {
                        <img src="@item.ProductImage" alt="No Image" width="100px" height="100px" />
                    }
                        
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
 *@